/* Principais */

header {

    margin: 15px auto;

    height: 200px;
}

main {
    margin: 0px auto;
    height: 600px;

}

footer {
    margin: 15px auto;
    height: 100px;
}


/* Padrão */

header,footer,section,nav,aside,article {
    border: 1px solid #000;
    border-radius: 5px;
}


/* IDs */

#main_top {
    
    margin: 0px 0px;

    width: 100%;
    height: 15%;
}

#main_footer {
    margin: 1.5% 0px;

    width: 100%;
    height: 82%;
}

#aside1,#article1 {
    float: left;
}

#aside2,#article2 {
    float: right;
}

#article1,#article2 {
    width: 25%;
    height: 100%;
}

#article_center {
    float: left;
    margin-left: 1.5%;

    width: 46.5%;
    height: 100%;
}

#ac_section1, #ac_center{
    float: left;
}

#ac_section2{
    float: right;
}

#ac_center{
    width: 95%;
    height: 18%;

}


/* Classes */


/* Descendentes */

header>section {
    float: left;
    margin: 1.5%;

    width: 15%;
    height: 80%;

}

header>nav {
    float: right;
    margin: 1.45%;

    width: 46%;
    height: 20%;
}

#main_top>* {
    /* Forma 2 */
    height: 100%;
    width: 49%;
}

#article1>section {
    margin: 6% auto;

    width: 85%;
    height: 43%;
}

#article_center>*{
    margin: 2%
}

#article_center>[id*="ac_section"]{
    width: 45%;
    height: 25%;
}



/* Responsivo */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25.00%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 46.56%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75.00%;}
.col-10 {width: 80.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
    [class="col-"] {
        width: 100%;
    }
}